<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2><center>Employees</center></h2>
<table class="table table-bordered">
  <tr class="success">
    <th>ID</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Home Phone</th>
    <th>Cell Phone</th>
    <th>Years Worked</th>
    <th>Password</th>
  </tr>
  <% if(typeof employees != "undefined" && employees.length > 0){ %>
    <% employees.forEach(function(employee){ %>
      <tr>
        <td class="warning, active"><%= employee.id %></td>
        <td class="warning"><%= employee.firstName %></td>
        <td class="warning"><%= employee.middleName %></td>
        <td class="warning"><%= employee.lastName %></td>
        <td class="warning"><%= employee.email %></td>
        <td class="warning"><%= employee.homePhone %></td>
        <td class="warning"><%= employee.cellPhone %></td>
        <td class="warning"><%= employee.yearsWorked %></td>
        <td class="warning"><%= employee.password %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="9">0 records found</td>
      </tr>
  <% } %>
  
</table>


